NODE_ENV=development
PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USER=wagering
DB_PASSWORD=wagering
DB_NAME=wagering
DB_DEBUG=false

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
SQS_ENDPOINT=http://localhost:4566
SQS_WAGER_QUEUE_URL=http://localhost:4566/000000000000/wager-events
